<!DOCTYPE html>
<html>
<head>
	<title>A Mecânica Quântica e o Livre Arbítrio</title>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Ideias.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
<div class="container">
	<h1>A Mecânica Quantica e o Livre Arbítrio</h1>
	<h3>Princípio da Incerteza</h3>
	<p>O princípio da incerteza é uma das ideias mais fundamentais da mecânica quantica. Basicamente ele diz que para qualquer partícula não é possível definir com precisão exata sua posição e seu momento linear (que nada mais é do que o produto da massa da partícula por sua velocidade). Esse princípio nos diz que a microestrutura do universo se comporta de maneira probabilística (logo, se é verdade que o todo é a soma das partes, então o macro do universo deve também ter comportamento probabilístico).</p>
	<p>Mas por que esse princípio é importante para falarmos do livre arbítrio? Bom, é simples, se por um acaso nossos átomos fossem governados por leis físicas determinísticas (ou seja, que são exatas, e se soubermos o estado de um sistema agora poderíamos prever o que aconteceria com ele em cada momento no futuro, bastando para isso ter um supercomputador que processasse as informações) então seria justo pensar que não haveria o livre arbítrio para nós seres humanos. E o por que não existiria esse livre arbítrio? Bom, se pensarmos bem, somos um conjunto de átomos, pequenas partes, e se como eu havia dito, concordamos com nós sermos a soma de nossas partes, então se nossas partes tem já comportamento pré definido e podemos prever o que ocorrerrá com elas a cada instante pois para isso temos uma lei física que é capaz de fazer essa previsão, então seria justo pensar que nós teríamos já nosso comportamento possível de prever, bastando fazer uma resultante das previsões das partes. Logo se podemos prever o que irá ocorrer com nós em cada instante, por definição não deve existir o livre arbítrio, já que ele poderia ser capaz de alterar o que ocorreria no futuro. Portanto esse princípio da incerteza é fundamental para existir a possibilidade do livre arbítrio, já que se as partes não tem comportamento exato definido, então o todo também não terá. Nota-se porém que, apesar desse princípio ser essencial para poder existir o livre arbítrio ele não é condição suficiente, apenas condição necessária.</p>
	<h3>Minha Opinião</h3>
	<p>Particularmente eu acredito que a Mecânica Quântica seja de fato uma das teorias mais precisas atualmente e ela de fato é muito aceita entre os cientistas, já que é capaz de fazer previsões específicas e precisas sobre os fenômenos de nosso universo. E é claro, nós temos a clara sensação de livre arbítrio no nosso dia a dia, já que por exemplo estou nesse exato momento optando por escrever esses textos ao invés de estudar. Porém é claro também que o livre arbítrio é só uma definição de algo que pode sequer existir, pois podemos ter apenas a falsa sensação de livre arbítrio, quando na verdade nossas decisões já foram impostas pelas tais leis físicas determinísticas, restando à nós pensarmos que estamos fazendo escolhas quando na verdade só estamos seguindo o fluxo natural da vida prevista por leis.</p>
	<p>Porém é importante notar que existe algo chamado consciência que nos difere de um conjunto de átomos apenas. Afinal, parece que nós temos pleno controle desses átomos e podemos de fato fazermos o que quiser. Parece meio forçado pensar que na verdade esses pensamentos seriam apenas pra justificar o que estaria acontecendo com cada átomo de nosso corpo a cada instante já pré-definidos por alguma lei.</p>
</div>
</body>
</html>