<!DOCTYPE html>
<html>
<head>
	<title>A Teoria do Caos como Religião</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Ideias.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
	<h1>A Teoria do Caos como Religião</h1>
	<p>Se você visitante reparou bem a forma como vejo o mundo e a forma como meus pensamentos são afetados por acreditar na teoria do caos deve ter notado certa semelhança entre ela e o conceito de Deus para as religiões. Afinal, mesmo acontecendo coisas ruins agora eu sei que as coisas boas irão acontecer em decorrência disso (assim como Deus irá trazer coisas boas). As coisas ruins que acontecem comigo são todas consequências unicamente de meus atos, todos, assim como a religião fala que se pecamos pagamos por isso. A onisciência divina pode ser encarada na Teoria do Caos como pra cada pequena coisa que fazemos as consequências dela serão sentidas por nós, assim como se dissessemos que "Deus vê e age".</p>
	<p>Porém um dos fatos principais para a filosofia de vida a partir da Teoria do Caos se assimilar à uma religião é o fato de eu encarar seus postulados de forma otimista. A maioria das religiões tenta (ou pelo menos deveria tentar) fazer com que a autoestima e a felicidade das pessoas aumente, e minhas crenças na Teoria do Caos causam isso em mim, porém é algo científico (mesmo encarado de forma filosófica) que para mim tem mais garantias de ser real e não apenas homeopatia.</p>
</body>
</html>