<!DOCTYPE html>
<html>
<head>
	<title>A Segunda Lei e o Surgimento da Vida</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Ideias.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
	<h1>A Segunda Lei e o surgimento da Vida</h1>
	<p>Pois então a discussão que ficou foi, se a segunda lei diz que a entropia de sistemas fechados deve sempre aumentar, então como é possível a vida e a manutenção dela num universo que deve respeitar essa lei? (e na verdade a questão da manutenção da vida está diretamente ligada com esta lei, já que a morte nada mais é do que o corpo e o ser humano chegando em seu estado de entropia máxima).</p>
	<p>Pra começar gostaria de falar um pouco sobre a relação da vida e a entropia (segunda lei). Como explicitado anteriormente a vida é algo que desafia em certo ponto essa lei. Se pensarmos em nós seres humanos vemos um conjunto de átomos que estão extremamente organizados (formando células, tecidos, órgãos, tudo aquilo que agente sabe de anatomia humana), e realizando funções de forma organizada. Porém mesmo nós formando um sistema altamente organizado não somos fechados em si, nós convivemos com o ambiente e com pessoas ao nosso redor. Na verdade aumentamos a entropia do sistema e muito realizando nossas funções vitais, respiramos, emitimos calor, suamos, e principalmente consumimos energias na forma organizada (alimentos) e transformamos isso em energias não organizadas (calor).
	<h3>A Morte e a Segunda Lei</h3>
	<p>Como todos nós sabemos o destino inevitável de todo ser humano é morrer. Esse fato na verdade é previsto pela segunda lei. Se a tendência de tudo é ir para um estado de maior caos, maior desorganização, com as partes humanas também é. Aqui assumo o fato de que "O todo é composto pela soma das partes". E na verdade esse fato é muito usado para se assumir coisas da física com aplicações no estudo do comportamento humano por mim. Podemos entender a morte, aliás, não só a morte em si mas o processo de envelhecimento como um todo como a tendência do seu corpo à aumentar a entropia associada. Tentamos à todo custo impedir que isto aconteça interagindo com o ambiente e aumentando a entropia dele, não a nossa, como quando comemos alimentos, usamos produtos químicos, etc. Porém o envelhecimento e a morte são inevitáveis como a implacável segunda lei diz. A morte então faz espalharem-se nossas partes, faz </p>
	</p>
</body>
</html>