<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>A Segunda Lei - Entropia</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Ideias.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
	<h1>A Segunda Lei da Termodinâmica - Entropia</h1>
	<p>A segunda lei da termodinâmica pode ser enunciada de várias maneiras. A mais comum definida pela física é que a Entropia em um sistema fechado tende a aumentar com o tempo. Mas o que seria a entropia?<br>
	Entropia é uma grandeza quantitativa que mede o quanto a energia na forma de calor não pode ser convertida em trabalho. Isso é, todos sabem que nossos carros operam em ciclos e transformam a energia da ligações químicas em energia para mover o carro. Mas isso vem à um custo, pois o combustível esquenta no motor e esse calor é energia perdida pelo sistema. Isso caracteriza um aumento de entropia.<br>
	Mas essa de entropia não é a que usarei para descrever minhas ideias, pelo menos não tão pro lado da física assim. Um ideia de senso comum associado à entropia é que ela caracteriza o grau de desordem de um sistema, ou seja, quanto maior a entropia, maior seria a desordem associada à um sistema. Um exemplo clássico de aumento de entropia que vem com aumento da desordem do sistema é um cubo de gelo derretendo. No cubo de gelo as partículas de água estão em formatos cristalinos e mais confinados, enquanto ao se aumentar a temperatura da água no gelo a tendência é as moléculas se espalharem de deixarem de estar na configuração cristalina, estando numa forma mais "desordenada".
	</p>
	<p>E é emcima desse conceito que falarei sobre alguns pensamentos meio filosóficos-físicos, porém que refletem principalmente a vida e a convivência humana. Seres Humanos são seres biológicos de baixa entropia associada (nossos órgãos, tecidos, funcionalidades representam ordenação de um bando de átomos, que organizados dessa forma possibilitam a vida e algo ainda mais extraordinário, que é pensar sobre si mesmo, somos átomos que pensam sobre átomos). Mas a pergunta que fica então é, como seres de baixa entropia, que pegam átomos desordenados e agrupam em um organismo complexo capaz de realizar funções altamente complexas são possíveis de existir. Se a segunda lei da termodinâmica (que por sinal é uma das leis mais respeitadas e admiradas pelos físicos) diz que a tendência é que as coisas caminhem para o caos, estados de maior entropia, então como é possivél surgir a vida se desde o ínicio do Universo a entropia total dele (que pode ser considerado um sistema fechado em si) está constantemente aumentando? Isso na verdade é um mistério para os físicos mesmo, estranho dizer porque surgiria nesse universo seres tão complexos, e, é claro, nos remete à um pensamento de um criador, um Deus que possibilitaria esse fato de acontecer, violando talvez a segunda lei.</p>
	<img src="Entropia_Desordem.png" alt="Entropia - desordem" >
</body>
</html>