<!DOCTYPE html>
<html>
<head>
	<title>Teoria do Caos e a Vida</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Ideias.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
	<h1>Como a Teoria do Caos nos diz sobre nossas vidas</h1>
	<p>Mas então se a Teoria do Caos diz que cada ação nossa causa cada consequência em nosso futuro, significa que temos que tomar cuidado com nossas ações, mas também significa que, por exemplo, cada coisa ruim que nós fazemos hoje irá causar as coisas boas que acontecerão para nós no futuro. Por exemplo, eu ter brigado com meu amigo hoje e não falar mais com ele pode resultar em no futuro eu conhecer novas pessoas muito legais também, quem sabe até minha futura noiva. E na verdade isso irá necessariamente implicar em eu conhecer minha noiva, pois cada ação no passado define cada ação no futuro, pela definição da Teoria do Caos. Ou seja, em resumo eu ter brigado agora causou eu conhecer minha noiva, então não tem o porque de eu me arrepender dessa briga. Na verdade, generalizando esse pensamento podemos ver que se arrepender é ilógico se você tem como filosofia de vida a Teoria do Caos, já que por definição tudo que fizemos e pensamos ser ruim irão causar as coisas boas de nosso futuro. Isso é o chamado efeito borboleta.</p>
	<p>O efeito borboleta é na verdade uma condição científica que ocorre em sistema caóticos, onde pequenas variações em determinados parâmetros causam grandes variações nos resultados finais. Porém mais uma vez podemos associar isso à vida, justamente pensando em nossas decisões e consequências.</p>
</body>
</html>