<!DOCTYPE html>
<html>
<head>
	<title>O Livre Arbítrio e a Teoria do Caos</title>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Ideias.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
	<h1>O Livre Arbítrio e a Teoria do Caos</h1>
	<p>Bom, acho que todo mundo sabe o que é livre arbítrio. Seria como a consciência de que podemos tomar qualquer decisão por conta própria, sem que nossas ações estivessem sujeitas à algum tipo de entidade com lei que definisse nossas ações. Em resumo nossas ações seriam apenas consequência de nossas próprias decisões e pensamentos.</p>
</body>
</html>